<a href="https://colab.research.google.com/github/crqcastro/undb_datamining/blob/master/AULA02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#VARIAVIES PREDITORAS
#ALVO -> E O QUE QUER SER ENCONTRADO COM A MINERACAO DE DADOS
#XGBUSH -> MAIS USADO PARA CRIAR MODELOS
#KAGGLE.COM -> pegar dados
import pandas as pd

In [2]:
#df = pd.read_excel("wine_dataset.csv")
df = pd.read_csv("wine_dataset.csv")

In [3]:
df.head(10)

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red
5            7.4              0.66         0.00  ...      9.4        5    red
6            7.9              0.60         0.06  ...      9.4        5    red
7            7.3              0.65         0.00  ...     10.0        7    red
8            7.8              0.58         0.02  ...      9.5        7    red
9            7.5              0.50         0.36  ...     10.5        5    red

[10 rows x 13 columns]