<a href="https://colab.research.google.com/github/crqcastro/undb_datamining/blob/master/Aula03_regressaoLinear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression 
import seaborn as sns 
import matplotlib.pyplot as plt 
import numpy as np
import os

In [5]:
df = pd.read_csv('Advertising.csv')

In [6]:
  df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9