<a href="https://colab.research.google.com/github/crqcastro/undb_datamining/blob/master/AULA02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#VARIAVIES PREDITORAS
#ALVO -> E O QUE QUER SER ENCONTRADO COM A MINERACAO DE DADOS
#XGBUSH -> MAIS USADO PARA CRIAR MODELOS
#KAGGLE.COM -> pegar dados
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier

In [2]:
#df = pd.read_excel("wine_dataset.csv")
df = pd.read_csv("wine_dataset.csv")

In [7]:
df.head(3)
# PARA O CASO DOS VINHOS, O CAMPO STYLE É ALVO, É AQUILO QUE QUEREMOS QUE A MAQUINA DEDUZA

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5      0
1            7.8              0.88         0.00  ...      9.8        5      0
2            7.8              0.76         0.04  ...      9.8        5      0

[3 rows x 13 columns]

In [5]:
df['style'] = df['style'].replace("red",0)
df['style'] = df['style'].replace("white", 1)

In [10]:
X = df.drop('style', axis=1)
y = df['style']
#NO MACHINE LEARNING É NECESSARIO SEPARAR AS VARIAVEIS PREDITORAS DA VARIAVEL ALVO

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [21]:
model = ExtraTreesClassifier()

In [23]:
model.fit(X_train, y_train)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)